.feedbackDiv {
  display: flex;
  flex-direction: column;
}
.feedbackTitle {
  font-size: 36px;
  padding: 0;
  margin: 0;
}
.buttonsDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.feedbackButton {
  padding-inline: 10px;
  padding-block: 5px;
  margin: 3px;
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}
.feedbackButton:hover {
  background-color: rgb(72, 243, 234);
}
.feedbackButton:active {
  background-color: rgb(26, 89, 184);
}

.statisticDiv {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.statisticTitle {
  font-size: 32px;
  padding: 0;
  margin-block: 20px;
}
.statisticParagraph {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 10px;
  font-size: 22px;
}
